@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:80px;">
    <div id="content-wrapper">
        <div id="header-nav">
            <div class="container">
    <div class="row">
      <div class="col-sm-12">
        
  <div class="breadcrumb-area"><a class="breadcrumb-item" href="/">Home</a><span class="breadcrumb-item active">Automations</span></div>

      </div>
    </div>
  </div>
        </div>
<h2 style="margin-top:0px">Index</h2>
    </div>

</div>

