<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="test" value="22"/>
  </appSettings>
  <connectionStrings>
    <add name="SKConnection" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=dhy_new;user id=sa;password=Sa123456;MultipleActiveResultSets=true;Enlist=true;Pooling=true;Max Pool Size=30000;Min Pool Size=0;Connection Lifetime=300;packet size=1000" providerName="System.Data.SqlClient"  />
  </connectionStrings>
</configuration>